<div class="login-page">
    <button mat-stroked-button color="accent" class="admin-btn right side" (click)="goToAdminLogin()">
        Admin Login
    </button>

    <!-- LEFT SECTION -->
    <div class="branding">
        <h1> Royal Cuts Salon</h1>
        <h3>Premium Hair & Grooming</h3>
        <p class="tagline">
            Book your haircut in advance & skip the wait
        </p>
        <img src="\assets\barber.jpg" alt="Salon Image" class="shop-image" />
    </div>

    <!-- RIGHT SECTION -->
    <div class="login-section">
        <mat-card class="auth-card">
            <mat-card-title>Login</mat-card-title>
            <form>
                <mat-card>

                    <mat-form-field class="full-width">
                        <input matInput type="email" placeholder="Email" [(ngModel)]="email" name="email" required />
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password"
                            required />
                    </mat-form-field>

                    <button mat-raised-button color="primary" type="button" (click)="login()">
                        Login
                    </button>

                    <p class="error" *ngIf="error">{{ error }}</p>
                </mat-card>
            </form>




            <p class="link">
                Don’t have an account?
                <a routerLink="/signup">Sign up</a>
            </p>
        </mat-card>
    </div>

</div>

<!-- REVIEWS SECTION -->
<div class="reviews">
    <div class="reviews-track">
        ⭐ Amazing service! &nbsp;&nbsp;
        ⭐ Best salon in town &nbsp;&nbsp;
        ⭐ Clean & professional staff &nbsp;&nbsp;
        ⭐ Worth every penny &nbsp;&nbsp;
        ⭐ Highly recommended &nbsp;&nbsp;
    </div>
</div>